/* all */

.part {
  height: 100vh;
  padding: 20px;
  margin: auto;
}

.big-part {
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 80px;
  margin: auto;
}

.title {
  font-size: 45px;
  margin-top: 85px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  margin: 10px 0 30px 0;
  font-family: 'Muli', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  color: #404040;
}

.background-2 {
  background: white;
  color: #bdbdbd;
}


/* home */

#janice-foto {
  height: 200px;
  width: 200px;
  margin: 10px;
  margin-top: 25px;
  border-radius: 2%;
}

.home-stuff {
  padding: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.home-description h3 {
  letter-spacing: 2px;
  font-size: 20px;
}

.home-text{
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 130%;
  text-align: center;
}

.icons {
  margin-top: 40px;
}

.home-icon {
  height: 50px;
  width: 50px;
}

.icon-right {
  margin-right: 16px;
}


/* experience */

.exp-title {
  margin-top: 25px;
}

.img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

img.icons {
  border-radius: 50%;
  /* border: 2px #555 solid; */
  -webkit-transition: -webkit-transform .8s ease-in-out;
}

img.icons:hover {
  -webkit-transform: rotate(360deg) scale(1.25);
  border: 4px #cccccc solid;
}

.modal {
  color: black;
}

.exp-description {
  font-size: 14px;
  text-align: left;
}

.description-img {
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}


/* projects */

.project-title {
  padding-top: 60px;
}

.projects-font{
  font-family: 'Muli', sans-serif;
}

.all-projects {
  margin: auto;
  width: 70vw;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  color: black;
  background: #e6e6e6;
  display: inline-block;
  height: 300px;
  width: 300px;
  text-align: left;
  margin: 25px;
  border-radius: 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h5 {
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 10px;
}

.card-text {
  text-align: left;
}

.card-image {
  border-radius: 2%;
  width: 300px;
  height: 200px;
}

.modal-body {
  padding: 5%;
  height: 100%;
  overflow-y: auto;
}

.modal-body h5 {
  font-size: 15px;
}

.modal-body p {
  text-align: left;
}


/* hobbies */

.hobbies-title {
  padding-top: 60px;
  margin-bottom: 50px;
  font-size: 45px;
  text-align: center;
}

.hobbies-stuff {
  text-align: center;
  margin: auto;
  /* position: relative;
  top: 50%; */
  /* transform: translateY(-50%); */
}

p.hobbies {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 15px;
}

#interests-section {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#interest-cards {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 1;
  justify-content: center;
}

.interest-card {
  height: 485px;
  width: 275px;
  background: #dbd9d9;
  color: #404040;
  margin: 15px;
  border-radius: 3%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.interests-img {
  height: 250px;
  width: 250px;
  border-radius: 2%;
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  margin: 5px;
}

#interests-section p {
  line-height: 20px;
  font-size: 13px;
  margin: 0px 15px;
  text-align: left;
}

/* navbar */

.nav-tabs li a
{
  color: #777;
}

.navbar
{
  margin-bottom: 0;
  background-color: #595959;
  border: 0;
  font-size: 14px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand
{
  color: white !important;
}

.navbar-nav li a:hover
{
  color: white !important;
  background-color: #4d4d4d !important;
}

.navbar-nav li.active a
{
  color: white !important;
  background-color: #404040 !important;
}

.navbar-default .navbar-toggle
{
  border-color: transparent;
}


/* bottom */

.sun {
  width: 300px;
  height: 300px
}

.up-arrow {
  color: black;
}

footer {
  background-color: #f2f2f2;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}





/* stuff i havent organized yet... */

body{
  background: #f2f2f2 !important;
  font-family: 'Inconsolata', monospace !important;
  color: #404040;
}


.z{
  font-family: 'Muli', sans-serif;
}

.a{
  font-family: 'Muli', sans-serif;
  font-size: 130%;
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #404040;
}

.project{
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.project:hover{
  border-color: red;
  opacity: 1;
}

.prof
{
  font-family: 'Muli', sans-serif;
}


.form-control
{
  border-radius: 0;
}

textarea
{
  resize: none;
}


.divider{
    width:100px;
    height:auto;
}
