/*text and main stuff*/

body{
  background: #f2f2f2 !important;
  font-family: 'Inconsolata', monospace !important;
  color: #404040;
}


.x{
  text-align: left;
}

.y{
  font-family: 'Muli', sans-serif;
}

.z{
  font-family: 'Muli', sans-serif;
}

.a{
  font-family: 'Muli', sans-serif;
  font-size: 130%;
  /*width: 800px;*/
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #404040;
}

h1{
  margin: 10px 0 30px 0;
  font-family: 'Muli', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  color: #404040;
}

h3, h4{
  margin: 10px 0 30px 0;
  letter-spacing: 2px;
  font-size: 20px;
  color: #404040;
}

.classes{
  padding-left: 2cm;
  font-family: 'Muli', sans-serif;
  color: #404040;
}

.project{
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.project:hover{
  border-color: red;
  opacity: 1;
}

.container
{
  padding: 80px 120px;
}


.bg-1
{
  background: white;
  color: #bdbdbd;
}

.bg-1 h3 {color: #fff;}

.prof
{
  font-family: 'Muli', sans-serif;
}

.nav-tabs li a
{
  color: #777;
}

.navbar
{
  margin-bottom: 0;
  background-color: #d7b3ff;
  border: 0;
  font-size: 14px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand
{
  color: white !important;
}

.navbar-nav li a:hover
{
  color: #555 !important;
  background-color: #744d25;
}

.navbar-nav li.active a
{
  color: #ca99ff !important;
  background-color: #555 !important;
}

.navbar-default .navbar-toggle
{
  border-color: transparent;
}


footer
{
  background-color: #f2f2f2;
  color: #f5f5f5;
  padding: 32px;
}

footer a
{
  color: #f5f5f5;
}

footer a:hover
{
  color: #777;
  text-decoration: none;
}

.form-control
{
  border-radius: 0;
}

textarea
{
  resize: none;
}

.img-circle {
    border-radius: 50%;
}

.divider{
    width:100px;
    height:auto;
}

p.w {
/*    height: 200px;
    width: 500px;*/
    padding-left: 4cm;
    width: 800px;
    text-align: left;
}




/*images*/

img.icons {
  border-radius: 50%;
  border: 2px #555 solid;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

img.icons:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.sun {
  width: 300px;
}




/*cursor thing*/

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
